bin
obj
node_modules
appsettings.local.json
*.db
*.db-shm
*.db-wal
*.local.json
/Packages
Output-Tests.txt
*.plog
.vs
*.exe
!/Resources/Hydra/bin2/hydra.exe
logs
.idea
*.bak
/Resources/Repository
/Source/packages
/CI
