html {
  font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
    */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #515151;
}
h3 {
    color: #3cc5e7;
}
h4 {
    color: #3cc5e7;
}
#hello {
    font-family: Verdana;
    color: #3cc5e7;
}


/******TREE******/
.item {
    cursor: pointer;
    color: black;
}

.bold {
    font-weight: bold;
    color: black;
}

ul {
    padding-left: 1em;
    list-style-type: none;

}
.folder{
    margin-right:3px;
}
ul.tabs-component-tabs li {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    float:left;
}
/*li:nth-child(3n+1) {
    clear: both;
}*/
/******DEVICES******/
.label{
    float:left;
}
.value{
    float:right;
}

.table_pars{
    width:650px;
}
.td_label {
    color: black;
    /*border: 1px solid white;*/
    width: 325px;
    margin-right: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #3cc5e7;
    height:35px;
}
.td_value {
    width: 325px;
    /* border: 1px solid white;*/
    margin-left: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid #3cc5e7;
    height: 35px;
}
.td_label_tree_item {
    color: white;
    /*border: 1px solid white;*/
    width: 325px;
    margin-right: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #3cc5e7;
    height: 35px;
    text-align: center;
}
.td_value_tree_item {
    width: 325px;
    /* border: 1px solid white;*/
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #3cc5e7;
    border-bottom: 1px solid #3cc5e7;
    height: 35px;
}
.devicesGrid {
    overflow-y: auto;
    height: 660px;
    margin-left: 2px;
    margin-right: 2px;
    align-content:flex-start;
}

.devicesGrid2 {
    overflow-y: auto;
    height: 450px;
    /*margin-left: 1px;
    margin-right: 0px;*/
    align-content: flex-start;
}
hr {
    height: 5px;
    color: #3cc5e7;
}
    .devicesGrid::-webkit-scrollbar {
        width: 10px;
    }

    .devicesGrid::-webkit-scrollbar-track {
        background: rgb(179, 177, 177);
        border-radius: 20px;
    }

    .devicesGrid::-webkit-scrollbar-thumb {
        /*background: rgb(136, 136, 136);*/
        background-color: #3cc5e7;
        border-radius: 20px;
    }

.devicesGrid2::-webkit-scrollbar {
    width: 10px;
}

.devicesGrid2::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 20px;
}

.devicesGrid2::-webkit-scrollbar-thumb {
    /*background: rgb(136, 136, 136);*/
    background-color: #3cc5e7;
    border-radius: 20px;
}

.rowPadd{
    /*padding-left:20px;*/
    margin-left:0px !important;
}
.rdmInput {
    height: 28px;
    width: 300px;
    color: #424547;
    font-weight: bold;
    background-color: #3cc5e7 !important;
    border: none;
    text-align: center;
}
.rdmInputParam {
    height: 30px;
    width: 300px;
    color: white;
    background-color: #515151;
    font-weight: bold;
}
.active{
    background-color:#598b99;
}
.warning {
    background-color: #fbe600;
    color: black !important;
    opacity: 0.33;
}
.alarm{
    background-color:#e84848;
}
.status_legend{
    display:inline-block;
    margin-left:10px;
    margin-top:7px;
    color:black;
}
.status_legend > span{
    margin-left:8px;
}
/******Project******/
.projectGrid {
    overflow-y: auto;
    overflow-x:hidden;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    width:100%;
    /*align-content: flex-start;*/
}

    .projectGrid::-webkit-scrollbar {
        width: 10px;
    }

    .projectGrid::-webkit-scrollbar-track {
        background: rgb(179, 177, 177);
        border-radius: 20px;
    }

    .projectGrid::-webkit-scrollbar-thumb {
        /*background: rgb(136, 136, 136);*/
        background-color: #3cc5e7;
        border-radius: 20px;
    }
.project_scenario_buttons{
    display:inline-block;

}

/******LOG******/
.log-grid {
    overflow-y: auto;
    /*height: 510px;*/
    margin-left: 2px;
    margin-right:2px;
    margin-top: 2px;
    align-content: flex-start;
}

/******SCHEDULER******/
.projectGridSheduler {
    overflow-y: auto;
    height: 400px;
    margin-left: 2px;
    
    margin-top:2px;
    align-content: flex-start;
}
.scheduler_scenario_time_div {
    display: inline-block;
    margin-top: 10px;
    font-weight:bold;
}
.scheduler_scenario_time_scenTime_span {
    color: #3cc5e7;
    text-decoration:underline;
}
.scheduler_scenario_time_span{
    color:black;
}
.scheduler_scenario_buttons {
    display: inline-block;
    vertical-align: text-top;    
}
.sheduler_table {
    cursor: pointer;
    color: white;
    font-weight: bold;
    width:100%;
}
.div-table {
    min-height: 38px;
    padding: 10px;
    width: 250px;
}
.div-table-id {
    min-height: 38px;
    width: 150px;
}
.div-table-row {
    display: table-row;
    width: auto;
    min-height:32px;
    clear: both;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    margin-left: 2px;
    margin-right: 8px;
    width: 250px;
    min-height: 32px;
}
.calendar-alt-class{
    width:100%;
}
.task {
    margin-left: 105px;
    margin-right: 5px;
    margin-top: 7px;
    color:black;
}

/*Clock styles*/
.hour, .min, .secs {
    font-size: 1.2em;
}


.clock-inner {
    display: flex;
   /* align-items: center;*/
    margin-top:5px;
    margin-left:10px;
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.dots {
    font-size: 1.2em;
}

.default {
    color: #3cc5e7;
}


/******PLAY-ALL-TASKS-BUTTON******/
.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
/*input[type=checkbox] + label {
    color: #fff;
    background-color: #515151;
    border: 1px solid #3cc5e7;
    border-radius: 2px;
    padding-left:10px;
    padding-right:10px;
}

input[type=checkbox]:checked + label {
    color: #fff;
    font-weight: bold;
    background-color: #3cc5e7;
    border: 1px solid #fff;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}*/

.canvasRenderer {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    align-content: flex-start;
    width:100%;
    height:100%;
}
.discoveryOn {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 220px;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}
.discoveryOff {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 220px;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}
.projDevices {
}
.rdmDevices {
}
.no-notifiers {
    margin-left: 7px;
    font-size: 11px;
    margin-bottom: 7px;
    background-color: transparent;
    color:transparent;
    text-decoration:none;
}
.notified {
    margin-left: 7px;
    font-size: 14px;
    margin-bottom: 7px;
    background-color: red;
    color: ivory;
    padding: 3px;
    text-decoration:none;
}
.spanPrimeMargin{
    margin-left:10px;
}