<div class="row">
  <div class="col-2">{{ $t("labels.currentProject") }} - {{this.projectName}} ({{this.lastModified}})</div>
  <div class="col-2 custom-file">
<!--    <app-input
      icon="upload"
      class="mb-3"
      type="file"
      placeholder="Upload project file"
      autocomplete="off"
      v-model="currentFile"
      @change="upload"
      ></app-input>-->
    <input type="file" class="custom-file-input" name="selectedFiles" @change="onFileChanged($event)" ref="upload"/>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <div class="col-2">
  <Button class="btn btn-primary btn-block" @click="uploadFile" :disabled="currentFile===null">
    <i class="fa fa-edit"></i>
    {{ $t('labels.projectUpload') }}
  </Button>
  </div>
  <div class="col-5">
    <Dropdown :options="this.projectVersions" v-model="selectedVersion" @change="onVersionSelect" optionLabel="Name" optionValue="Id" :editable="false"
              :virtualScrollerOptions="{ itemSize: 50 }" panel-style="{'min-width':'350px'}" />
  </div>
  
</div>